/* Define branding colors and fonts */
:root {
  --primary-color: #70CC41;
  --dark-color: #202020;
  --light-color: #EEEEEE;
  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Outfit', sans-serif;
}

/* Global styles */
body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.6;
}

/* Container */
.container {
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 786px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.wrapper-row {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.wrap-flex_row {
  display: flex;
  z-index: 2;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.wrap-flex_col {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.wrapper-glass {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  padding: 20px;
  border: 1px solid #eaeaea50;
  border-radius: 40px;
  box-sizing: border-box;
  background: linear-gradient(
    135deg,
    #eaeaea35 0%,
    #cdcdcd25 20%,
    #e3e3e345 40%,
    #f6f6f630 60%,
    #e1e1e145 80%,
    #cacaca35 100%
  );
  background-size: 300% 300%;
  animation: metallicLoop 5s ease-in-out infinite;
  box-shadow: 0px 0px 30px #eaeaea25;
}

@keyframes metallicLoop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper-glass-green {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 20px;
  border: 1px solid #8ae35d;
  border-radius: 50px;
  box-sizing: border-box;
  background: linear-gradient(
    135deg,
    #60b038 0%,
    #6dbe44 20%,
    #5ead37 40%,
    #68b740 60%,
    #66af41 80%,
    #62b339 100%
  );
  animation: metallicGreenLoop 7s ease-in-out infinite;
  background-size: 300% 300%;
  box-shadow: 0px 0px 30px #eaeaea25;
}

@keyframes metallicGreenLoop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrap-hookah {
  height: 400px;
}

.tag {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #EEEEEE15;
  border: 1px solid #eeeeee50;
  border-radius: 20px;
  padding: 10px 1rem;
  color: var(--light-color);
  box-shadow: 0px 0px 40px #20202015;
  transition: background-color 0.1s ease-in-out;
}

.tag:hover {
  background-color: #EEEEEE35;
}

.tag p {
  margin: 0px;
  text-shadow: 0px 0px 10px #20202030;
}

.tag-big {
  display: flex;
  flex: 1;
  min-width: 250px;
  border-radius: 30px;
  align-items: center;
  padding: 1.5rem 1rem;
  justify-content: center;
  background-color: #EEEEEE15;
  border: 1px solid #eeeeee50;
  color: var(--light-color);
  box-shadow: 0px 0px 20px #20202010;
  transition: background-color 0.1s ease-in-out;
}

.tag-big:hover {
  background-color: #EEEEEE35;
}

.tag-big p {
  text-align: center;
  margin: 0px;
  line-height: 1.2;
  text-shadow: 0px 0px 30px #20202040;
}

.tag-big h3 {
  text-align: center;
  margin: 0px;
  line-height: 1;
  text-shadow: 0px 0px 30px #20202040;
}

/* Hero Section */
.hero {
  /* background-color: var(--primary-color); */
  background-color: #5dad35;
  color: var(--light-color);
  height: auto;
  border-bottom-left-radius: 1500px 200px;
  border-bottom-right-radius: 1500px 200px;
  padding: 0px 0px 150px;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.slogan {
  font-size: 4rem;
}

.hero .tagline {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
}

/* Section Styles */
section {
  padding: 40px 0px 0px;
}

section h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  /* text-align: center; */
}

/* List styles */
section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
}

section ul li {
  background: var(--primary-color);
  color: var(--light-color);
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 400;
}

.section-hero {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 50px;
}

.section-hero_mid {
  display: flex;
  flex-direction: column;
  /* background-color: var(--primary-color); */
  background-color: #5dad35;
  color: var(--light-color);
  height: auto;
  border-top-left-radius: 1500px 200px;
  border-top-right-radius: 1500px 200px;
  padding: 100px 0px 150px;
  margin: 40px 0px 0px;
}

.section-hero h1 {
  font-size: 3rem;
  line-height: 1;
}

.icon-logo {
  width: 30px;
  height: auto;
}

.icon-plus {
  width: 50px;
  height: auto;
}

.icon-tag {
  width: 35px;
  height: auto;
}

/* Ingredients section */
.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ingredient {
  background: var(--light-color);
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  text-align: center;
  width: 280px;
}

.ingredient img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.img-hookah {
  padding-top: 40px;
}

.wiggle {
  position: relative;
}

.w-full {
  width: 100%;
  box-sizing: border-box;
}

.al-lf {
  align-items: start;
}

.wrap-img_hookah {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
  width: auto;
  height: 100%;
}

.grad-green {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  #ffffff00 0%,
  #5dad35 100%
  );
}

/* Footer */
footer {
  /* background: var(--primary-color); */
  background-color: #5dad35;
  color: var(--light-color);
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tag:hover, .tag-big:hover {
    background-color: #EEEEEE15;
  }
  .hero {
    border-bottom-left-radius: 1500px 400px;
    border-bottom-right-radius: 1500px 400px;
    padding: 0px 0px 75px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero .tagline {
    font-size: 1rem;
  }
  section h2 {
    font-size: 1.5rem;
  }
  .ingredients {
    flex-direction: column;
    align-items: center;
  }
  .icon-plus {
    width: 35px;
  }
  .icon-tag {
    width: 20px;
    height: auto;
  }
  .section-hero {
    padding-bottom: 30px;
    gap: 4rem;
  }
  .section-hero_mid {
    padding-top: 0px;
  }
  .wrap-hookah {
    height: auto;
  }
  .wrap-img_hookah {
    position: relative;
  }
  .img-hookah {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}